theme = "rose_pine"

[editor]
auto-save = true
auto-format = true
bufferline = "multiple"
cursorline = true
color-modes = true
end-of-line-diagnostics = "error"
line-number = "relative"

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false

[editor.gutters]
layout = ["diagnostics", "line-numbers", "spacer", "diff"]

[editor.indent-guides]
render = true

[editor.inline-diagnostics]
cursor-line = "hint"
other-lines = "disable"

[editor.lsp]
display-inlay-hints = true

[editor.soft-wrap]
enable = true
max-indent-retain = 0

[keys.normal]
# C-left = "jump_view_left"
# C-down = "jump_view_down"
# C-up = "jump_view_up"
# C-right = "jump_view_right"
tab = "move_parent_node_end"
S-tab = "move_parent_node_start"
"A-pagedown" = "goto_next_buffer"
"A-pageup" = "goto_previous_buffer"

[keys.normal.space]
ret = ":lsp-workspace-command"

[keys.normal.g]
n = "goto_line_start"
i = "goto_line_end"
k = "goto_next_buffer"
u = "goto_implementation"

[keys.select.g]
n = "goto_line_start"
i = "goto_line_end"
k = "goto_next_buffer"
u = "goto_implementation"

[keys.normal.C-y]
y = [
  ':sh rm -f /tmp/yazi-path',
  ':insert-output yazi %{buffer_name} --chooser-file=/tmp/yazi-path',
  ":open %sh{cat /tmp/yazi-path}",
  ":redraw",
  ":reload-all",
  ":set mouse false",
  ":set mouse true",
]
# y = ":sh helix-wezterm yazi $WEZTERM_PANE > /dev/null"
# v = ":sh helix-wezterm yazi --command vsplit $WEZTERM_PANE > /dev/null"
# h = ":sh helix-wezterm yazi --command hsplit $WEZTERM_PANE > /dev/null"
# Y = ":sh helix-wezterm yazi --mode zoom $WEZTERM_PANE > /dev/null"
# V = ":sh helix-wezterm yazi --mode zoom --command vsplit $WEZTERM_PANE > /dev/null"
# H = ":sh helix-wezterm yazi --mode zoom --command hsplit $WEZTERM_PANE > /dev/null"

[keys.select]
l = ["yank_to_clipboard", ":sh helix-ai"]
