[language-server.scls]
command = "simple-completion-language-server"

[language-server.scls.config]
max_completion_items = 20
snippets_first = true
feature_words = true
feature_snippets = true
feature_unicode_input = true
feature_paths = true

[language-server.harper-ls]
command = "harper-ls"
args = ["--stdio"]

[language-server.basedpyright]
basedpyright.disableLanguageServices = true

[language-server.harper-ls.config.harper-ls]
userDictPath = "~/.config/harper-ls.spell"
fileDictPath = ".haper-ls.spell"
diagnosticSeverity = "warning"
isolateEnglish = false

[language-server.harper-ls.config.harper-ls.codeActions]
ForceStable = false

[language-server.harper-ls.config.harper-ls.markdown]
IgnoreLinkTitle = false

[language-server.kcl-lsp]
command = "kcl-language-server"

[language-server.tofu-ls]
command = "tofu-ls"
args = ["serve"]

[language-server.pylsp.config.pylsp]
plugins.black.enabled = false
plugins.isort.enabled = false
plugins.pycodestyle.enabled = false
plugins.pyflakes.enabled = false
plugins.pylint.enabled = false
plugins.pylsp_mypy.enabled = false
plugins.ruff.enabled = false

[language-server.rust-analyzer.config]
checkOnSave = { command = "clippy", extraArgs = ["--", "-W", "clippy::pedantic"] }
cargo = { allFeatures = true }
procMacro = { enable = true }

[language-server.ruff]
command = "ruff"
args = ["server", "-q", "--preview"]
environment = { "RUFF_TRACE" = "messages" }

[language-server.ty]
command = "uvx"
args = ["ty", "server"]

[language-server.typos]
command = "typos-lsp"
environment = { "RUST_LOG" = "error" }
config.diagnosticSeverity = "Warning"

[[language]]
name = "bash"
language-servers = ["bash-language-server", "scls", "harper-ls"]

[[language]]
name = "fish"
language-servers = ["fish-lsp", "scls", "harper-ls"]

[[language]]
name = "dockerfile"
language-servers = ["docker-langserver", "scls", "harper-ls"]
formatter = { command = "dprint", args = ["fmt", "--stdin", "dockerfile"] }
auto-format = true

[[language]]
name = "git-commit"
language-servers = ["scls", "harper-ls"]

[[language]]
name = "go"
language-servers = ["gopls", "golangci-lint-lsp", "scls", "harper-ls"]

[[language]]
name = "gotmpl"
language-servers = ["gopls", "scls", "harper-ls"]

[[language]]
name = "hcl"
language-id = "opentofu"
file-types = ["hcl", "tf", "tofu"]
language-servers = ["tofu-ls", "scls", "harper-ls"]
auto-format = true

[[language]]
name = "javascript"
language-servers = ["typescript-language-server", "eslint", "scls", "harper-ls", "lsp-ai"]
formatter = { command = "dprint", args = ["fmt", "--stdin", "javascript"] }
auto-format = true

[[language]]
name = "json"
language-servers = ["vscode-json-language-server", "scls", "harper-ls", "lsp-ai"]
formatter = { command = "dprint", args = ["fmt", "--stdin", "json"] }
auto-format = true

[[language]]
name = "jsonc"
language-servers = ["vscode-json-language-server", "scls", "harper-ls", "lsp-ai"]
formatter = { command = "dprint", args = ["fmt", "--stdin", "jsonc"] }
auto-format = true

[[language]]
name = "json5"
language-servers = ["vscode-json-language-server", "scls", "harper-ls", "lsp-ai"]
formatter = { command = "dprint", args = ["fmt", "--stdin", "json5"] }
auto-format = true

[[grammar]]
name = "just"
source = { git = "https://github.com/poliorcetics/tree-sitter-just", rev = "8d03cfdd7ab89ff76d935827de1b93450fa0ec0a" }

[[language]]
name = "jsx"
language-servers = ["typescript-language-server", "eslint", "scls", "harper-ls", "lsp-ai"]
formatter = { command = "dprint", args = ["fmt", "--stdin", "javascript"] }
auto-format = true

[[language]]
name = "just"
scope = "source.just"
file-types = ["just", { glob = "justfile" }, { glob = "Justfile" }, { glob = ".justfile" }, { glob = ".Justfile" }]
injection-regex = "just"
comment-token = "#"
indent = { tab-width = 4, unit = "    " }

[[grammar]]
name = "kcl"
source = { git = "https://github.com/kcl-lang/tree-sitter-kcl", rev = "b0b2eb38009e04035a6e266c7e11e541f3caab7c" }

[[language]]
name = "kcl"
scope = "source.k"
file-types = ["kcl", { glob = "*.k" }]
roots = ["kcl.mod", "kcl.yaml"]
indent = { tab-width = 2, unit = "  " }
formatter = { command = "kcl", args = ["fmt", "-"] }
language-servers = ["kcl-lsp"]

[[language]]
name = "kdl"
formatter = { command = "kdlfmt", args = ["format", "-"] }
language-servers = ["scls", "harper-ls"]
auto-format = true

[[language]]
name = "lua"
language-servers = ["lua-language-server", "scls", "harper-ls", "lsp-ai"]
formatter = { command = "dprint", args = ["fmt", "--stdin", "lua"] }
auto-format = true

[[language]]
name = "markdown"
language-servers = ["marksman", "markdown-oxide", "harper"]
formatter = { command = "mdformat", args = ["fmt", "--stdin", "md"] }
auto-format = true
rulers = [120]

[[language]]
name = "nix"
language-servers = ["nil", "nixd", "harper", "lsp-ai"]
formatter.command = "alejandra"
auto-format = true

[[language]]
name = "python"
language-servers = ["pylsp", "ruff", "basedpyright", "scls"]
formatter = { command = "bash", args = ["-c", "ruff check - --fix -n | ruff format -"] }
auto-format = true

[[language]]
name = "rust"
language-servers = ["rust-analyzer", "scls", "harper-ls", "lsp-ai"]
auto-format = true

[[language]]
name = "tfvars"
language-id = "opentofu-vars"
language-servers = ["tofu-ls", "scls", "harper-ls"]
auto-format = true

[[language]]
name = "templ"
language-servers = ["templ", "scls", "harper-ls", "lsp-ai"]

[[language]]
name = "toml"
language-servers = ["taplo", "scls", "harper-ls", "lsp-ai"]
formatter = { command = "dprint", args = ["fmt", "--stdin", "toml"] }
auto-format = true

[[language]]
name = "typescript"
language-servers = ["typescript-language-server", "eslint", "scls", "harper-ls", "lsp-ai"]
formatter = { command = "dprint", args = ["fmt", "--stdin", "typescript"] }
auto-format = true

[[language]]
name = "tsx"
language-servers = ["typescript-language-server", "eslint", "scls", "harper-ls", "lsp-ai"]
formatter = { command = "dprint", args = ["fmt", "--stdin", "tsx"] }
auto-format = true

[[language]]
name = "yaml"
language-servers = ["yaml-language-server", "ansible-language-server", "scls", "harper-ls", "lsp-ai"]
formatter = { command = "dprint", args = ["fmt", "--stdin", "yaml"] }
auto-format = true

[[language]]
name = "zig"
language-servers = ["zls", "scls", "lsp-ai"]
