# Ansible
**/ansible.log

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# generated configs
config/git/*
!config/git/config
!config/git/aliases
!config/git/delta
!config/git/ignore
