"$schema" = 'https://starship.rs/config-schema.json'

format = """
$username\
$hostname\
$directory\
$git_branch\
$git_state\
$git_status\
$cmd_duration\
$line_break\
$python\
$character"""

# palette = "rose-pine"

# [palettes.rose-pine]
# overlay = '#26233a'
# muted = '#6e6a86'
# subtle = "#908caa"
# love = '#eb6f92'
# gold = '#f6c177'
# rose = '#ebbcba'
# pine = '#31748f'
# foam = '#9ccfd8'
# iris = '#c4a7e7'

[username]
style_user = "green"
style_root = "red"
format = "[$user]($style)"
show_always = false
disabled = false

[hostname]
ssh_only = true
format = "[@$hostname](green) "
disabled = false

[directory]
style = "blue bold"

[character]
# success_symbol = "[❯](green)"
# error_symbol = "[❯](red)"
# vimcmd_symbol = "[❮](purple)"
success_symbol = "[\\$](green)"
error_symbol = "[\\$](red)"
vimcmd_symbol = "[*](purple)"

[git_branch]
format = "[$branch]($style)"
style = "bright-black"

[git_status]
format = "[[(*$conflicted$untracked$modified$staged$renamed$deleted)](purple) ($ahead_behind$stashed)]($style)"
style = "cyan"
conflicted = "​"
untracked = "​"
modified = "​"
staged = "​"
renamed = "​"
deleted = "​"
stashed = "≡"

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = "bright-black"

[cmd_duration]
format = "[ $duration]($style) "
style = "yellow"

[python]
format = "[$virtualenv]($style) "
style = "bright-black"
detect_extensions = []
detect_files = []
