fish_variables
conf.d/rustup.fish
conf.d/autopair.fish
conf.d/fish_frozen_key_bindings.fish
conf.d/theme.fish
completions/*
functions/*
!functions/fish_prompt.fish
!functions/fish_mode_prompt.fish
!functions/zellij-attach.fish
