---
- name: "Install Iosevka build dependencies"
  ansible.builtin.package:
    name: "{{ iosevka_packages }}"
    state: present

- name: "Clone Iosevka source"
  ansible.builtin.git:
    repo: "{{ iosevka_repo_url }}"
    dest: "{{ iosevka_src_dir }}"
    version: "{{ iosevka_version }}"
    depth: 1
    force: true

- name: "Install Iosevka NPM dependencies"
  community.general.npm:
    path: "{{ iosevka_src_dir }}"
    state: present

- name: "Create Iosevka build plans"
  ansible.builtin.template:
    src: "templates/iosevka-build-plan.toml.j2"
    dest: "{{ iosevka_src_dir }}/private-build-plans.toml"
    trim_blocks: true
    lstrip_blocks: true
    mode: "0644"

- name: "Build Iosevka fonts"
  ansible.builtin.command:
    cmd: npm run build -- ttf::{{ build_plan.name }}
    chdir: "{{ iosevka_src_dir }}"
  loop: "{{ iosevka_build_plans }}"
  loop_control:
    loop_var: build_plan
    label: "{{ build_plan.name }}"
  changed_when: true

- name: "Install Iosevka fonts"
  ansible.builtin.copy:
    src: "{{ iosevka_src_dir }}/dist/{{ build_plan.name }}/TTF/"
    dest: "{{ iosevka_dest_dir }}/{{ build_plan.name }}"
    remote_src: true
    mode: "0755"
  loop: "{{ iosevka_build_plans }}"
  loop_control:
    loop_var: build_plan
  notify: update font cache
